<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Condition d'utilisation</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item" ><a href="#" id="ac" style="color:  #FF971D;">Accueil</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Nos Informations</li>
            </ol>
            <ol>
  
            </ol>
        </nav>
    </div>
  </div>
  <!-- Navbar & Hero End -->
  <div class="container-xxl pt-5 pb-3">
    <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h5 id="off" class="section-title ff-secondary text-center  fw-normal">Nos conditions</h5><br><br>
      </div>
  
  <router-outlet></router-outlet>
        <!-- About Start -->
        
                <div class="row  align-items-center" style="margin-left: 20%;" >
                  
                    <div class="col-lg-6">
                      <h5 class="mb-4" style="color:#000000">*Inscription : </h5>
                        <p class="mb-4" style="color:#000000">
                        Pour utiliser les fonctionnalités complètes du notre  site web de gestion des restaurants en ligne, vous devez vous inscrire et créer un compte. Vous acceptez de fournir des informations exactes, complètes et à jour lors de votre inscription. </p>
                        <h5 class="mb-4" style="color:#000000">*Gestion des restaurants :  </h5>
                        <p class="mb-4" style="color:#000000">Notre site web permet aux restaurants de créer des profils, de gérer leurs menus, d'accepter des commandes en ligne, etc. En tant que restaurant, vous acceptez de fournir des informations exactes sur votre établissement et de maintenir vos informations à jour.</p>
                        <h5 class="mb-4" style="color:#000000">*Responsabilité : </h5>
                        <p class="mb-4" style="color:#000000"> Notre site web agit en tant qu'intermédiaire entre les utilisateurs et les restaurants, facilitant la communication et la passation des commandes. Le site web n'est pas responsable de la qualité des produits ou services des restaurants. Toute réclamation ou litige doit être résolu directement avec le restaurant concerné.</p>
                       
                </div>
            </div>
        </div>
      
      <!-- About End -->