<div style="background-color: #19191A;" >
    <div class="wrapper">
  <section class="vh-100 bg-image">
  <div class="container h-100">
    <div class="row justify-content-center h-100 align-items-center">
        <div class="col-md-6 mt-5">
            <div class="card" style="background-color: #19191A">
                <div class="card-body">
                    <div class="auth-form">
                            <h2 class="text-center mb-4">Se Connecter</h2>
                            <form>

                                <div class="form-floating mb-3">
                                    <input ngModel name="email" class="form-control1" id="floatingInput" placeholder="admin@example.com" #email>
                                    <label for="floatingInput" style="color:rgba(255, 255, 255, 0.548);">Email</label>
                                </div>
                                 <div class="form-floating mb-2">
                                    <input ngModel name="motdepasse" type="password" class="form-control1" id="Password" placeholder="Mot de passe" #password>
                                    <label for="Password" style="color:rgba(255, 255, 255, 0.548);">Mot de passe</label>
                                </div>
                                <div class="d-flex justify-content-between  align-items-center flex-wrap">

                                    <div class="form-group">
                                        <a href="#" style="color: #fa9333; text-align: center;">
                                          Mot de passe oublié?</a>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary" style="background-color: #FF971D;border-color: #FF971D;" (click)="login_admin_resto(email.value, password.value)">Se Connecter</button>
                                </div>


                            </form>

                        </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  </section>
    </div>
  </div>
