*{
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding:2remp;
  }
  /* / variables / */
  :root{
    --main-color:#ff7300;
    --sec-color:#8a3310;
    --text-color:#000;
    --bg-color:#fff;
  
  }
  ::selection{
    color: var(--text-color);
    background-color: var(--main-color);
  
  }
  .container{
    max-width: 1068;
    margin: auto;
    width: 100%;
  
  }
  section{
    padding: 4rem 0 3rem;
  }
  header{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  box-shadow: 0 1px;
  }
  /* / cart / */
  .cart{
  position: fixed;
  top: 0;
  right: 0;
  width: 360px;
  height: 100vh;
  overflow-y:auto;
  overflow-x: hidden;
  padding: 0px;
  background-color: white;
  box-shadow: -2px solid v4px hsl(0 4% 15% / 10%);
  border: 1px solid ;
  transition: 1.5s;
  }
  .cart.active{
    right:0;
  
  transition: .5s;}
  
  /* / shop section / */
  .shop{
  margin-top: 2rem;
  }
  .shop-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,auto));
  gap: 1.5rem;
  margin-top: 3%;
  }
  
  .product-box{
    position: relative;
    margin-right: 30px;
  }
  
  .product-img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: .5rem;
  }
  .product-title1{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .5rem;
    color: black;
  
  }
  .product-price{
    font-weight: 500;
    padding: 10px;
    color: black;
  
  }
  /* / panier sur le photo de menu / */
  .add-cart{
    position: absolute;
  margin-left: 13%;
    color: #ff7300;
  
    cursor: pointer;
  }
  
  .listedemenu{
    margin-top: -10%;
    margin-left: -87%;
  }
  .bi-heart{
    color: #ff7300;
    margin-left: 20%;
  }
  .bi-heart1{
    color: #ff7300;
    margin-left: 0%;
  }
  /* / modal / */
  input[type=radio],input[type=checkbox]{
    transform: scale(2);
    accent-color:#ff7300;
  
  }
  label{
    margin-left: 5%;
  }
  h5{
    color: #ff7300;
  
  }
  
  
  .btn-primary{
    background-color:#ff7300;
  }
  
  .commander{
    background-color:#ff7300;
  }
  
  /* / modal de panier / */
  .modalpanier {
    position: relative;
    list-style-type: none;
    width: 50%;
  
  }
  
  .modalpanier #cart1{
    display: none;
  }
  .modalpanier:hover #cart1{
    display: block;
    position: absolute;
    right:0;
    top:100%;
    z-index: 1;
    background-color: white;
    min-height: 400px;
    min-width: 300px;
  
  }
  /* / card modal lorque fait un commande / */
  
  
  header .shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
    margin-left: 2%;
    }
    .list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
    }
    .list .item{
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
    }
    .list .item img{
    width: 90%;
    }
    .list .item .title{
    font-weight: 600;
    }
    .list .item .price{
    margin: 10px;
    }
    .list .item button{
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
    }
    .card{
    position: fixed;
    top:15%;
    left: 100%;
    width: 400px;
    background-color:white;
    height: 70%;
    transition: 0.5s;
    }
    .active .card{
    left: calc(100% - 500px);
    }
    .active .container{
    transform: translateX(-200px);
    }
    .card h1{
    color: #ff7300;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
    }
    .card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  
    }
    .card .checkOut div{
    background-color: #ff7300;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    }
    .card .checkOut div:nth-child(2){
    background-color: white;
    color: #ff7300;
    }
    .listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
    }
    .listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .listCard li img{
    width: 90%;
    }
    .listCard li button{
    background-color: #fff5;
    border: none;
    }
    .listCard .count{
    margin: 0 10px;
    }
  
    .cart-box{
        display: grid;
        grid-template-columns: 32% 50% 18%;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }
    .cart-img{
        width: 100px;
        height: 100px;
        object-fit: contain;
        padding: 10px;
    }
    .detail-box{
       display: grid;
       row-gap: 0.5rem;
  
    }
    .cart-product-title{
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      margin-bottom: 1.5rem;
  
     }
     .cart-price{
        font-weight: 500;
  
     }
     .cart-quantity{
     border: 1px solid var(--text-color);
     outline-color: var (--main-color);
     width: 2.4rem;
     text-align: center;
  
  
     }
     .cart-remove{
        font-size: 24px;
        color: #ff7300;
        cursor: pointer;
  
  
        }
        .total{
          display: flex;
          justify-content: flex-end;
          margin-top: 1.5rem;
          border-top: 1px solid var(--text-color);
  
            }
            .card.active{
                right: 0;
            }
            .btn-buy{
                background-color: #ff7300;
                color: white;
            }
            @media(max-width:1080px){
    .nav {
        padding: 15px;
  
    }
    .container{
        width: 90%;
        margin: 0 auto;
    }
    section{
        padding:  3rem 0 2rem;
    }
    .shop{
        margin-top: 2rem;
    }
            }
            .horizontal-container {
              display: flex; /* Utilisez flexbox */
              flex-direction: row; /* Affiche les éléments horizontalement */
              /* Ajoutez d'autres styles supplémentaires selon vos besoins */
              flex-basis: 40%;
            }
            .bi-cart{
            margin-top: -10%;
            margin-left: 30%;
          }