<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Supprimer Votre Compte</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item"><a href="#" id="ac">Accueil</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Supprimer Votre Compte</li>
            </ol>
        </nav>
    </div>
  </div>




  <!-- inscription Start -->
  <div class="container-xxl py-5 px-0 wow fadeInUp "  id="form" data-wow-delay="0.1s">
    <div class="row justify-content-md-center ">


        <div class="col-md-6 bg-dark d-flex align-items-center ">
            <div class="p-5 wow fadeInUp " data-wow-delay="0.2s">
                <h5 class="section-title ff-secondary text-start  fw-normal " id="titre">Supprimer Votre Comptel</h5>
                <br>
                <br>
                <form >


                    <p style="color: aliceblue;">Si vous êtes sûr de vouloir supprimer votre compte, vous pouvez cliquer sur le button au-dessous:</p>


                  <div class="col-12">
                      <button  class="btn btn-primary w-100 py-3" type="button" id="button" (click)="delete(_id)">Supprimer</button>
                  </div>


          </form>



  <!-- inscription Start -->